*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    height: 100svh;
    width: 100svw;
    color: #fff;
    background: linear-gradient(135deg, rgba(210, 180, 140, 0.5), rgba(128, 128, 128, 0.5));
    background-image: url(./images/snow-mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba( 135, 206, 235, 0.5), rgba(128, 128, 128, 0.7));
    z-index: -5;
    pointer-events: none; 
}

body {
    font-family: 'Tilt Neon', sans-serif;
    max-width: 45rem;
}

nav {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, rgba(135, 206, 235, 0.5), rgba(128, 128, 128, 0.7));
    border-radius: 2rem;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, .5);
    padding: 2rem;
    margin-top: 5%;
    margin-bottom: 4rem;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 2em;
    color:#fff;
    padding: 0 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    cursor: pointer;
}

nav ul li.active {
    text-shadow: 0 0 0.125em red;
}

li:hover {
    text-shadow: 0 0 0.125em red;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.bio {
    line-height: 2rem;
    font-size: 1.2rem;
}

.profilePic {
    flex: none;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid grey;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    width: 30%;
    background: linear-gradient(180deg, grey, tan);
    border-radius: 1rem;
    transition: transform 500ms ease;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, .4);
    overflow: hidden;
    cursor: pointer;
}

.project-1:hover {
    transform: scale(1.1);
}

.thumbnail {
    background-image: url('./images/main2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
    padding: 7rem 0 0 ;
    
}

.thumbnail h1 {
    padding-bottom: 1rem;
    font-size: 1em;
    margin: 0;
}
.thumbnail a {
    text-decoration: none;
}

.card-description {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    background: linear-gradient(rgba(210, 180, 140, .2), rgba(210, 180, 140, 1));
    bottom: 0;
    padding: .3rem;
    transform: translateY(88%);
    transition: transform 500ms ease;
}

.project-1:hover .card-description {
    transform: translateY(0);
}

.ibuild{
    color: blueviolet;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    gap: 5rem;
}

.contact h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input, textarea {
    width: 20rem;
}

form button {
    justify-content: center;
    align-items: center;
    width: 15rem;
    padding: 1rem;
}

footer {
    width: 3rem;
    height: 3rem;
}

@media only screen and (max-width: 430px) {

    nav {
        font-size: .8em;
        margin-bottom: 5rem;

    }

    ul {
        width: 73svw;
    }

    li {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0;
    }

    .about {
        flex-direction: column;
        width: 90svw;
    }

    .profilePic {
        width: 7.5rem;
        height: 7.5rem;
    }

    .bio {
        font-size: .8em;
        text-align: center; 
        width: 80%; 
        margin: 0;
    }

      
    .project-1 {
        width: 50%;
    }

    .card-description {
        transform: translateY(0)
    }
}

@media only screen and (max-width: 390px) {
    .contact h1 {
        font-size: 1.5em;
    }

    .contact {
        gap: 3rem;
    }
}

@media only screen and (max-width: 375px) {
    nav {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .card-description {
        font-size: .8em;
    }
}